<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.api.shInfo.mapper.IShInfoMapper">


    <!--查询当前页数据-->
    <select id="findList" resultType="com.fh.shop.api.shInfo.po.Shinfo">
       select u.id "id",u.NAME,phone,mrdz, concat(a1.name,'',a3.name,'',a2.name,' ',info) "areaInfo" from t_SHINFO u
            left join t_area a1 on u.provinceid=a1.id
            left join t_area a2 on a2.id =u.countyId
            left join t_area a3 on a3.id =u.cityId
            order by mrdz desc ;
    </select>

    <select id="findById"  resultType="com.fh.shop.api.shInfo.po.Shinfo">
          select u.id "id",u.NAME,phone,mrdz, concat(a1.name,'',a3.name,'',a2.name,' ',info) "areaInfo" from t_SHINFO u
            left join t_area a1 on u.provinceid=a1.id
            left join t_area a2 on a2.id =u.countyId
            left join t_area a3 on a3.id =u.cityId
          where u.id=#{id}

    </select>
</mapper>